books{color:white;background-color:gray;width:100%}

heading{
color:green;
font-size:40px;
background-color:cyan;
}

heading,title,author,publisher{
display:block;
}

title{font-size:25px;font-weight:bold;}
